  /*modal*/
  .mod01, .mod02, .mod03, .mod04, .mod05, .mod06, .mod07, .mod08, .mod09, .modapod, .mod11, .mod12, .mod13, .mod14, .mod15, .mod16, .mod17, .mod18, .mod19, .mod20 {
    position: fixed !important;
    top: 50%!important;
    left: 50%!important;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .5s;
    visibility: hidden;
    z-index: 2;
  }
  
  .mod01m, .mod02m, .mod03m, .mod04m, .mod05m, .mod06m, .mod07m, .mod08m, .mod09m, .modapodm, .mod11m, .mod12m, .mod13m, .mod14m, .mod15m, .mod16m, .mod17m, .mod18m, .mod19m, .mod20m {
    position: fixed !important;
    top: 50%!important;
    left: 50%!important;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .5s;
    visibility: hidden;
    z-index: 2;
  }

  .btn{
    cursor: pointer;
  }

  @import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}
.active.fade-top {
  animation: fade-top 1s ease-in;
}

@keyframes fade-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

#apod, #apod2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #apod img, #apod2 img {
    max-width: 65%;
    height: auto;
    border: 1px solid white;
    margin-top: 2px;
  }

  * {
    margin: 0;
    padding: 0;
}
body {
    background: #000;
  
   
}
.shootingStarContainer:nth-child(1) {
    position: absolute;
    width: 100%;
    height: 130%;
    transform: rotate(44deg);
    z-index: 10;
}
.shootingStarContainer:nth-child(2) {
    position: absolute;
    width: 100%;
    height: 130%;
    transform: rotate(36deg);
    z-index: 10;
}
.shootingStarContainer:nth-child(3) {
    position: absolute;
    width: 100%;
    height: 130%;
    transform: rotate(39deg);
    z-index: 10;
}
.shootingStar {
    position: absolute;
    height: 1px;
    background: linear-gradient(-70deg, rgba(255, 235, 235, 1), rgba(0, 0, 0, 1));
}
.shootingStarContainer:nth-child(1) .shootingStar:nth-child(1) {
    left: calc(10%);
    top: calc(44%);
    animation: shootingFrames 1431ms ease-in-out 14949ms;
    opacity: 0.88;
}
.shootingStarContainer:nth-child(1) .shootingStar:nth-child(2) {
    left: calc(19%);
    top: calc(91%);
    animation: shootingFrames 2199ms ease-in-out 27418ms;
    opacity: 0.43;
}
.shootingStarContainer:nth-child(1) .shootingStar:nth-child(3) {
    left: calc(18%);
    top: calc(97%);
    animation: shootingFrames 2451ms ease-in-out 4407ms;
    opacity: 0.73;
}
.shootingStarContainer:nth-child(1) .shootingStar:nth-child(4) {
    left: calc(1%);
    top: calc(45%);
    animation: shootingFrames 1935ms ease-in-out 41758ms;
    opacity: 0.42;
}
.shootingStarContainer:nth-child(1) .shootingStar:nth-child(5) {
    left: calc(5%);
    top: calc(83%);
    animation: shootingFrames 1973ms ease-in-out 17106ms;
    opacity: 0.9;
}
.shootingStarContainer:nth-child(1) .shootingStar:nth-child(6) {
    left: calc(5%);
    top: calc(66%);
    animation: shootingFrames 1048ms ease-in-out 50370ms;
    opacity: 0.26;
}
.shootingStarContainer:nth-child(1) .shootingStar:nth-child(7) {
    left: calc(14%);
    top: calc(62%);
    animation: shootingFrames 2572ms ease-in-out 56331ms;
    opacity: 0.88;
}
.shootingStarContainer:nth-child(1) .shootingStar:nth-child(8) {
    left: calc(45%);
    top: calc(92%);
    animation: shootingFrames 1093ms ease-in-out 33009ms;
    opacity: 0.85;
}
.shootingStarContainer:nth-child(1) .shootingStar:nth-child(9) {
    left: calc(23%);
    top: calc(26%);
    animation: shootingFrames 1503ms ease-in-out 45362ms;
    opacity: 0.47;
}
.shootingStarContainer:nth-child(1) .shootingStar:nth-child(10) {
    left: calc(10%);
    top: calc(10%);
    animation: shootingFrames 1081ms ease-in-out 47289ms;
    opacity: 0.71;
}
.shootingStarContainer:nth-child(2) .shootingStar:nth-child(1) {
    left: calc(5%);
    top: calc(45%);
    animation: shootingFrames 1421ms ease-in-out 48984ms;
    opacity: 0.24;
}
.shootingStarContainer:nth-child(2) .shootingStar:nth-child(2) {
    left: calc(31%);
    top: calc(51%);
    animation: shootingFrames 1775ms ease-in-out 57489ms;
    opacity: 0.4;
}
.shootingStarContainer:nth-child(2) .shootingStar:nth-child(3) {
    left: calc(44%);
    top: calc(45%);
    animation: shootingFrames 832ms ease-in-out 22403ms;
    opacity: 0.47;
}
.shootingStarContainer:nth-child(2) .shootingStar:nth-child(4) {
    left: calc(20%);
    top: calc(87%);
    animation: shootingFrames 1381ms ease-in-out 13391ms;
    opacity: 0.3;
}
.shootingStarContainer:nth-child(2) .shootingStar:nth-child(5) {
    left: calc(49%);
    top: calc(44%);
    animation: shootingFrames 2538ms ease-in-out 34506ms;
    opacity: 0.51;
}
.shootingStarContainer:nth-child(2) .shootingStar:nth-child(6) {
    left: calc(36%);
    top: calc(55%);
    animation: shootingFrames 1752ms ease-in-out 51602ms;
    opacity: 0.86;
}
.shootingStarContainer:nth-child(2) .shootingStar:nth-child(7) {
    left: calc(35%);
    top: calc(49%);
    animation: shootingFrames 1156ms ease-in-out 2937ms;
    opacity: 0.48;
}
.shootingStarContainer:nth-child(2) .shootingStar:nth-child(8) {
    left: calc(21%);
    top: calc(32%);
    animation: shootingFrames 1416ms ease-in-out 32720ms;
    opacity: 0.16;
}
.shootingStarContainer:nth-child(2) .shootingStar:nth-child(9) {
    left: calc(8%);
    top: calc(85%);
    animation: shootingFrames 2391ms ease-in-out 59397ms;
    opacity: 0.16;
}
.shootingStarContainer:nth-child(2) .shootingStar:nth-child(10) {
    left: calc(28%);
    top: calc(67%);
    animation: shootingFrames 1728ms ease-in-out 26831ms;
    opacity: 0.73;
}
.shootingStarContainer:nth-child(3) .shootingStar:nth-child(1) {
    left: calc(7%);
    top: calc(31%);
    animation: shootingFrames 2551ms ease-in-out 36552ms;
    opacity: 0.89;
}
.shootingStarContainer:nth-child(3) .shootingStar:nth-child(2) {
    left: calc(3%);
    top: calc(93%);
    animation: shootingFrames 2748ms ease-in-out 16040ms;
    opacity: 0.21;
}
.shootingStarContainer:nth-child(3) .shootingStar:nth-child(3) {
    left: calc(33%);
    top: calc(95%);
    animation: shootingFrames 867ms ease-in-out 15456ms;
    opacity: 0.77;
}
.shootingStarContainer:nth-child(3) .shootingStar:nth-child(4) {
    left: calc(28%);
    top: calc(50%);
    animation: shootingFrames 2099ms ease-in-out 19542ms;
    opacity: 0.46;
}
.shootingStarContainer:nth-child(3) .shootingStar:nth-child(5) {
    left: calc(4%);
    top: calc(13%);
    animation: shootingFrames 1765ms ease-in-out 5105ms;
    opacity: 0.56;
}
.shootingStarContainer:nth-child(3) .shootingStar:nth-child(6) {
    left: calc(48%);
    top: calc(78%);
    animation: shootingFrames 2254ms ease-in-out 50564ms;
    opacity: 0.34;
}
.shootingStarContainer:nth-child(3) .shootingStar:nth-child(7) {
    left: calc(46%);
    top: calc(69%);
    animation: shootingFrames 2027ms ease-in-out 25628ms;
    opacity: 0.28;
}
.shootingStarContainer:nth-child(3) .shootingStar:nth-child(8) {
    left: calc(26%);
    top: calc(28%);
    animation: shootingFrames 1848ms ease-in-out 34075ms;
    opacity: 0.47;
}
.shootingStarContainer:nth-child(3) .shootingStar:nth-child(9) {
    left: calc(15%);
    top: calc(92%);
    animation: shootingFrames 2229ms ease-in-out 8324ms;
    opacity: 0.81;
}
.shootingStarContainer:nth-child(3) .shootingStar:nth-child(10) {
    left: calc(2%);
    top: calc(4%);
    animation: shootingFrames 1892ms ease-in-out 38869ms;
    opacity: 0.43;
}
@keyframes shootingFrames {
    0% {
        transform: translateX(0);
        width: 0;
   }
    30% {
        width: 200px;
   }
    100% {
        width: 0;
        transform: translateX(887px);
   }
}
.stars, .twinkleMask, .twinkleMask2, .clouds {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
  
}
.stars {
    background: #000 url('https://wolf.drjm.co.uk/nightsky/stars.jpg') repeat top center;
    z-index: 0;
    
}
.twinkleMask {
    background: transparent url('https://wolf.drjm.co.uk/nightsky/twinklemask.png') repeat top center;
    z-index: 1;
    animation: twinkleFrames 700s linear infinite;
}
.twinkleMask2 {
    background: transparent url('https://wolf.drjm.co.uk/nightsky/twinkleMask2.png') repeat top center;
    z-index: 2;
    height: 200%;
    animation: twinkleFrames2 300s linear infinite;
}
.clouds {
    background: transparent url('https://wolf.drjm.co.uk/nightsky/clouds.png') repeat top center;
    z-index: 3;
    height: 150%;
    animation: cloudsFrames 300s linear infinite;
}
.fogContainer {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 7;
}
.fog {
    position: absolute;
    left: -50%;
    top: -30%;
    width: 200%;
    height: 200%;
    animation-name: fogFrames;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: linear-gradient(-5deg #00000000 0%, #ffffff15 40%, #74590121 45%, #8b845b21 55%, #00000000 70%);
}
@keyframes fogFrames {
    0% {
        transform: none;
   }
    10% {
        transform: scaleY(0.75) translate(5%, -2%) rotate(15deg);
   }
    25% {
        transform: scaleY(1) translate(10%, 7%);
   }
    50% {
        transform: scaleY(0.5) rotate(-15deg);
   }
    75% {
        transform: scaleY(0.2) translate(7%, -2%);
   }
    100% {
        transform: none;
   }
}
@keyframes twinkleFrames {
    from {
        background-position: 0 0;
   }
    to {
        background-position: -10000px 5000px;
   }
}
@keyframes twinkleFrames2 {
    from {
        background-position: 0 0;
   }
    to {
        background-position: 10000px 5000px;
   }
}
@keyframes cloudsFrames {
    from {
        background-position: 0 0;
   }
    to {
        background-position: 10000px 0;
   }
}
