/.vscode
/Arquivos antigos
/Arquivos Gerais
/Canvas
/CDIA
/crea04
/demanda02l01.zip
/demanda02_lote01
/Extensão
/growt
/inovapos
/ova-08
/ova-10
/script.js
/Senai.rar
/somanova.png
/SPRINT
/Sprint Atrasada.zip
/Sprint feita
/Tecnored
/Teste Anima
/Trilha
/Yuri
/z-Script CANVAS
/z-Scripts
/z-Scripts.rar